{% if type == 'book' %}
    <label for="weight">Weight</label><br>
    <label for="#weight"></label>
    <input type="number" min="0" step="0.1" id="#weight" name="weight" required><br><br>
{% elseif type == 'dvd' %}
    <label for="size">Size</label><br>
    <label for="#size"></label>
    <input type="number" min="0" step="0.1" id="#size" name="size" required><br><br>
{% elseif type == 'furniture' %}
    <label for="width">Width</label><br>
    <label for="#width"></label>
    <input type="number" min="0" step="0.1" id="#width" name="width" required><br><br>

    <label for="height">Height</label><br>
    <label for="#height"></label>
    <input type="number" min="0" step="0.1"id="#height" name="height" required><br><br>

    <label for="height">Length</label><br>
    <label for="#length"></label>
    <input type="number" min="0" step="0.1" id="#length" name="length" required><br><br>
{% else %}
{% endif %}
