{% include "head.html.twig" %}
<script>
    $(document).ready(function () {
        $('#product_type').change(function () {
            let valueSelected = $(this).find("option:selected").val();
            if (valueSelected !== "") {
                $("#attributes").load("/add-product-type/" + valueSelected);
            }
        });

        $("form").submit(function (e) {

            // Clean errors
            $(".errors").empty();

            e.preventDefault(); // avoid to execute the actual submit of the form.
            let form = $(this);
            let actionUrl = form.attr('action');

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function () {
                    window.location.href = '/'; // redirect to main page
                },
                error: function (data) {
                    let errors = data.responseJSON;

                    for (const field in errors) {
                        let fieldErrors = errors[field];

                        for (const errorKey in fieldErrors) {
                            let errorText = fieldErrors[errorKey];

                            $('#' + field + '-errors').append('<p class="text-danger p-1">' + errorText + '</p>');
                        }
                    }
                }
            });
        });
    });
</script>
<body class="container">
<div class="header row mt-3 border-bottom border-2 p-3 align-middle">
    <h1 class="col">Add product</h1>
    <div class="col-md-3 text-end">
        <button type="submit" form="product_form" value="Save" class=" btn btn-lg btn-success">Save</button>
        <a href="/" class="btn btn-lg btn-danger " role="button">CANCEL</a>
    </div>


</div>
<div class="container  mt-3 py-5">
    <div class="card ms-0 mt-3 w-50 align-items-start">
        <form action="/create-product" method="post" id="product_form" class="row ps-3 needs-validation">
            <div class="col mb-3 p-3">
                <label for="sku" class="form-label p-1">SKU</label>
                <input type="text" id="sku" name="sku" class="form-control">
                <div class="errors" id="sku-errors"></div>


                <label for="name" class="form-label p-1">Name</label>
                <input type="text" id="name" name="name" class="form-control">
                <div class="errors" id="name-errors"></div>

                <label for="price" class="form-label p-1">Price ($)</label>
                <input type="number" min="0" step="0.01" id="price" name="price" class="form-control">
                <div class="errors" id="price-errors"></div>

            </div>
            <div class="col mb-3 p-3">
                <label for="productType">Type: </label>
                <select name="product_type" id="producType" required>
                    <option value="" selected>Please select</option>
                    <option value="furniture">Furniture</option>
                    <option value="dvd">DVD</option>
                    <option value="book">Book</option>
                </select>

                <div id="attributes" class="container p-3"></div>

            </div>
        </form>
    </div>
</div>

{% include "footer.html.twig" %}

